{% extends 'base.html' %}

{% block title %}PolicyInsights - Select Location to Compare{% endblock %}

{% block content %}
    <div class="content">
    Compare <a href="{% url 'location-detail' l.slug %}">{{ l.slug }}</a> with recently visited locations:
        <br>
        <br>
        <ul>
            {% for l2 in recent_locations %}
            <li>
                <a href="{% url 'location-compare' l.pk l2.pk %}">{{ l2.slug }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}