{% extends 'base.html' %}

{% load static %}

{% block title %}PolicyInsights{% endblock %}

{% block content %}

    <div id="motivation">

        <p>
        Welcome to the pre-alpha version of our first product. We want to build you a simple and intuitive national platform
        to engage with your local governments, to understand the services provided and their outcomes as well as to benchmark
        their performance against other similar cities, counties or states. We are starting with four localities
        (two counties and two cities with similar demographic for comparison purpose). Here are some actions you can take:
        </p>

        <ol>
            <li>compare the demographic of two cities or counties</li>
            <li>compare a program of two cities or counties</li>
            <li>rate the programs of your local governments (if you happen to live in one of these four areas)</li>
            <li>this is a wiki style product, any users could update or add location/programs information (if you see something incorrect or want to add anything, you can contribute)</li>
            <li>we are committed to building a product that users LOVE, so please use the Feedback feature to let us know what you think</li>
        </ol>

    </div>


    <img src="{% static 'img/choropleth.svg' %}" alt="Map of United States with current counties highlighted">

    <h1>Locations</h1>
    <div>
        <ul>
            {% for object in object_list %}
                <li><a href="{% url 'location-detail' object.slug %}">{{ object.slug }}</a></li>
            {% endfor %}
        </ul>
    </div>
    <div>
        <a href="{% url 'location-create' %}">Create Location</a>
    </div>
{% endblock %}