{% extends 'base_no_row.html' %}

{% load static %}

{% block title %}PolicyInsights{% endblock %}

{% block content %}

    <div class="row medium-12 columns">
        <div class="medium-1 columns hide-for-small-only">&nbsp;
        </div>
        <div class="medium-10 columns" id="motivation">

            <p>
                We want to build you a simple and intuitive national platform to engage with your local governments,
                to understand the services provided and their outcomes. We are starting with four locations
                (two counties and two cities with similar demographic for comparison purpose).
                Here are some ways you can explore (see demo video on <a href="/about">About</a> page):
            </p>

            <ol>
                <li>select a location and explore the various programs</li>
                <li>compare the demographic to another location and their programs</li>
                <li>rate the programs of your local governments (if you happen to live in one of these four areas)</li>
                <li>this is a wiki style product, any users could update or add location/programs information (if you see something incorrect or want to add anything, you can contribute)</li>
                <li>use the Feedback link to let us know what you think</li>
            </ol>

        </div>
        <div class="medium-1 columns hide-for-small-only">&nbsp;
        </div>
    </div>


    <div class="row medium-12 colums">
        <div class="medium-9 columns">
        <img src="{% static 'img/choropleth.svg' %}" alt="Map of United States with current counties highlighted">
        </div>
        <div class="medium-3 columns">
            <h2>Locations</h2>
            <div>
                <ul>
                    {% for object in object_list %}
                        <li><a href="{% url 'location-detail' object.slug %}">{{ object.slug }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <div>
                <a href="{% url 'location-create' %}">Create Location</a>
            </div>
        </div>
    </div>
{% endblock %}