<!doctype html>
<html lang="en">
<head>
    {% block meta %}{% endblock %}
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    {% block scripts %}{% endblock %}
</head>
<body>

<div>
    <a href="/">Home</a> |
    <a href="/about/">About</a> |
    <a href="/account/">Your Account</a> |
    <a href="/submit/">Submit Your Case Study</a>
</div>
<br>

{% block content %}
{% endblock %}

{% block js-foot %}
{% endblock %}

</body>
</html>
