.errorlist {
    color: indianred;
}

#id_honeypot {
    display: none;
}

.larger {
    background-color: #f4c9a0;
}

.smaller {
    background-color: #a0cbf4;
}

.larger2 {
    font-weight: bold;
    background-color: #e6e6e6;
}

.smaller2 {
    font-style: italic;
    background-color: #e6e6e6;
}

li.topbar-title a {
    padding: 0;
}

.ui-autocomplete-loading {
    background: white url("/static/img/ui-anim_basic_16x16.gif") right center no-repeat;
}

.before-footer {
    margin-top: 2em;
}

.legal {
    font-size: 90%;
}

.footer {
    padding-bottom: 2em;
}
