{% extends 'base.html' %}

{% block title %}Please give us feedback{% endblock %}

{% block content %}
    <h1>Your Feedback</h1>

    <p>
        We are committed to building a product users LOVE.
        We want to build a product to help citizens and local governments work together to get to better outcomes.
        Your feedback is very important to us as we embark on this civic journey together!
    </p>

    <p>
        Please provide your feedback below and here are some questions to get you started:
    </p>

    <ul>
        <li>What could we improve in the current functionality?</li>
        <li>What features could we add?</li>
        <li>What locality would you like us to prioritize next?</li>
        <li>Any other requests.</li>
    </ul>

    <form action="" method="post">
        {%  csrf_token %}
        {{  form.as_p }}
        <input type="submit" class="button" value="Save" />
    </form>
{% endblock %}