{% extends 'base.html' %}

{% block title %}PolicyInsights - Select Programs to Compare{% endblock %}

{% block content %}
    <div class="content">
    Compare <a href="{% url 'program-detail' object.location.slug object.slug %}">{{ object.slug }}</a> with recently visited programs:
        <br>
        <br>
        <ul>
            {% for p2 in recent_objects %}
            <li>
                <a href="{% url 'program-compare' object.pk p2.pk %}">{{ p2.slug }}</a> @ {{ p2.location.slug }}
            </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}