{% extends 'base.html' %}

{% load comments %}
{% load tags_filters %}
{% load static %}
{%  load ratings %}

{% block scripts %}
<link rel="stylesheet" href="{% static 'star-ratings/css/star-ratings.css' %}">
<script type="text/javascript" src="{% static 'star-ratings/js/dist/star-ratings.min.js' %}"></script>
{% endblock %}

{% block title %}PolicyInsights - Program{% endblock %}

{% block content %}
    <div id="content">
        <!-- TODO: make sure content is safe -->
        {{ object.content | urlize |  add_tag_links | safe | linebreaksbr }}
    </div>
    <div style="margin-top: 1em">
    <a href="{% url 'program-update' object.location.slug object.slug %}">Update</a> |
    <a href="{% url 'program-compare-select' object.id %}">Compare</a>
    </div>
    <div style="margin-top: 1em">
       Location: <a href="{% url 'location-detail' object.location.slug %}">{{ object.location.slug }}</a>
    </div>

    <hr>

    <h3>Ratings</h3>

    <div class="row small-up-1 medium-up-2 large-up-2">
        <div class="column rating">
            <h4>Overall</h4>
            {% ratings object 16 16 %}
        </div>
        <div class="column rating">
            <h4>Importance for you</h4>
            {% ratings importance 16 16 %}
        </div>
    </div>

    <h3 style="margin-top: 1em;">Comments</h3>
    {% get_comment_list for object as comment_list %}
    {% for comment in comment_list %}
    <div>
        <i>{{ comment.user_name }} on {{ comment.submit_date }}</i>
        {%  if user.is_superuser %}
        <a href="{% url 'comments-delete' comment.id %}">delete comment</a>
        {% endif %}
        <p>{{ comment.comment }}</p>
    </div>
    {% endfor %}

    {% if user.is_authenticated %}
    {% get_comment_form for object as form %}
    <form action="{% comment_form_target %}" method="POST">
    {% csrf_token %}
    {{ form.comment }}
    {{ form.honeypot }}
    {{ form.content_type }}
    {{ form.object_pk }}
    {{ form.timestamp }}
    {{ form.security_hash }}
    <input type="hidden" name="next" value="{% url 'program-detail' object.location.slug object.slug %}" />
    <input type="submit" value="Add comment" id="id_submit" />
    </form>
    {% else %}
        <p>Please <a href="{% url 'auth_login' %}?next={{request.path}}">log in</a> to leave a comment.</p>
    {% endif %}

{% endblock %}